page-login {
    .content {
        background-size: cover;
        background-position: center;
    }

    ion-input {
        background-color: #222222 !important; 
    }
    div {
        position: fixed;
        top: 35%;
        width: 100%;
        height: auto
    }

}
